<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
const useMessage = useMessageStore();
</script>
<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="useMessage.isShow" :timeout="useMessage.timeout">
      {{ useMessage.message }}

      <template v-slot:actions>
        <v-btn color="pink" variant="text" @click="useMessage.closeMessage">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
