<script setup lang="ts">
import UserCardList from "./UserCardList.vue";
import UserDialogVue from "./UserDialog.vue";
import UserList from "./UserList.vue";
import { useUserStore } from "../../stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
import NonCom from "@/components/NonCom.vue";
import BaitoeyComponent from "@/components/BaitoeyComponent.vue";
import FriendComponents from "@/components/FriendComponents.vue";
import GingComponent from "@/components/GingComponent.vue";
import KaewComponent from "@/components/kaewComponent.vue";
import ModComponent from "@/components/ModComponent.vue";
import PunchComponents from "@/components/PunchComponents.vue";

const userStore = useUserStore();
</script>
<template>
  <v-container>
    <v-row>
      <UserList v-if="userStore.isTable"></UserList>
      <UserCardList v-if="!userStore.isTable"></UserCardList>
      <UserDialogVue></UserDialogVue>
    </v-row>
    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="userStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="userStore.isTable = false"
      ></v-btn>
    </v-row>
    <NonCom></NonCom>
    <BaitoeyComponent></BaitoeyComponent>
    <FriendComponents></FriendComponents>
    <GingComponent></GingComponent>
    <KaewComponent></KaewComponent>
    <ModComponent></ModComponent>
    <PunchComponents></PunchComponents>
    <NonCom></NonCom>
  </v-container>
</template>
<style scoped></style>
